      <!-- Jumbotron -->
      <div class="jumbotron text-center">
        <h1 class="text-center">Eat-Da-Burger!</h1>
        <h2 class="text-center">What'll ya have?</h2>

<form class="create-update-form" id="add" action="/" method="POST">

    <div class="form-group">
    <label for="add"></label>
    <input type="text" id="add" name="burger_name">
  </div>

  <button type="submit">Add Burger</button>
</form>
</div>
  
<div class="container">
   <div class="row">
   <div class="col-md-3">
   </div>

     <div class="col-md-3">

        <!-- Burgers to try-->
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"><strong>Burgers to eat!</strong></h3>
            </div>
            <div class="panel-body">
            <ul>
             {{#each sequelburger}}
             {{#unless this.devoured}}
               <li>
              {{this.name}}
                <form action="/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devoured" value="true">
             <button type="submit">Devour it!</button>
           </form>
               </li>
              {{/unless}}
             {{/each}}
            </ul>
           </div>
          </div>
        </div>            
         
         
 <!-- Burgers devoured  -->
    <div class="col-md-3">
           <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title"><strong>Devoured Burgers!</strong></h4>
            </div>
            <div class="panel-body">
              <ul>
                {{#each sequelburger}}
                         {{#if this.devoured}}
                              <li>
                               {{this.name}}

                     <form action="/{{this.id}}?_method=PUT" method="POST">
                    <input type="hidden" name="devoured" value="false">
                   </form>
                  </li>
                  {{/if}}
                   {{/each}}
                </ul>
 
            </div>
<div class="col-md-3">
   </div>

          


















